

  <!-- Sección de Instalación -->
  <div class="container py-5">
    <div class="text-center mb-5">
      <h1 class="display-4 text-danger" style="font-family: 'Press Start 2P', sans-serif;">¡Instala CURSED-CEMETERY!</h1>
      <p class="lead text-light">Sigue estos simples pasos para instalar nuestra Progressive Web App (PWA) y disfruta del juego directamente en tu dispositivo.</p>
    </div>

    <!-- Pasos de Instalación -->
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4 shadow-lg" data-aos="fade-up">
          <div class="card-body">
            <h5 class="card-title text-warning">Paso 1: Obtener la URL de la pagina y abrir sitio</h5>
            <p class="card-text">Accede a nuestra web desde tu navegador móvil o de escritorio. Asegúrate de que esté completamente cargada.</p>
          </div>
        </div>
        <div class="card mb-4 shadow-lg" data-aos="fade-up" data-aos-delay="200">
          <div class="card-body">
            <h5 class="card-title text-warning">Paso 2: Encuentra el ícono de instalación</h5>
            <p class="card-text">En la mayoría de los navegadores, verás un ícono de "Instalar" o un mensaje en la barra superior. Haz clic sobre él.</p>
            <img src="/assets/pasodos.jpg" alt="Paso 2" class="img-fluid rounded-3 mb-3" style="border: 2px solid #ff0000;">
          </div>
        </div>
        <div class="card mb-4 shadow-lg" data-aos="fade-up" data-aos-delay="400">
          <div class="card-body">
            <h5 class="card-title text-warning">Paso 3: Confirmar la instalación</h5>
            <p class="card-text">Confirma la instalación y espera a que el proceso termine. El ícono del juego aparecerá en tu pantalla de inicio.</p>
            <img src="/assets/pasotres.jpg" alt="Paso 3" class="img-fluid rounded-3 mb-3" style="border: 2px solid #ff0000;">
          </div>
        </div>
        <div class="card mb-4 shadow-lg" data-aos="fade-up" data-aos-delay="600">
          <div class="card-body">
            <h5 class="card-title text-warning">Paso 4: Disfruta de la PWA informativa sobre el juego CURSED-CEMETERY</h5>
            <p class="card-text">¡Ya estás listo para disfrutar de CURSED-CEMETERY como una aplicación informativa! No olvides revisar las actualizaciones regularmente.</p>
            <img src="/assets/pasocuatro.jpg" alt="Paso 4" class="img-fluid rounded-3 mb-3" style="border: 2px solid #ff0000;">
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- AOS (Animate On Scroll) inicialización -->
  <script>
    AOS.init();
  </script>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

