<div class="text-center">
    <h1 class="display-4 text-danger" style="font-family: 'Press Start 2P', sans-serif;">Niveles!</h1>
    <p class="lead text-light">Conoce los niveles del juego. Cada nivel será un terreno diferente</p>
    <!-- <img src="/assets/terreno1.jpg" alt="Personajes" class="img-fluid shadow-lg" style="border: 2px solid #ff0000; border-radius: 10px;"> -->
  </div>
  

  <div id="carouselEnemigos" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Enemigo 1 -->
        <div class="carousel-item active">
            <div class="text-center">
                <img src="/assets/terreno1.jpg" alt="Enemigo 1" class="img-fluid shadow-lg rounded-4 mb-3" 
                     style="border: 3px solid #660000; max-width: 50%;">
                <h3 class="text-warning">Nivel 1 - Bosque encantado</h3>
                <p class="text-light">
                  Este será el primer nivel donde el padre se enfrentara a criaturas del bosque antes de llegar a la iglesia.
                </p>
                <ul>
                  <li><strong>Reto:</strong> Sobrevivir a una orda de 20 enemigos durante 2 minutos .</li>
                  <li><strong>Dificultad:</strong> 50%.</li>
              </ul>
            </div>
        </div>
        <!-- Enemigo 2 -->
        <div class="carousel-item">
            <div class="text-center">
                <img src="/assets/terreno2.jpg" alt="Enemigo 2" class="img-fluid shadow-lg rounded-4 mb-3" 
                     style="border: 3px solid #660000; max-width: 50%;">
                <h3 class="text-warning">Nivel 2 - CEMENTERIO</h3>
                <p class="text-light">
                    Luego de sobrevivir al bosque encantado, tendra que pasar por un cementerio maldito.
                </p>
                <ul>
                  <li><strong>Reto:</strong> Sobrevivir a una orda de 20 enemigos durante 1 minuto .</li>
                  <li><strong>Dificultad:</strong> 100%.</li>
              </ul>
            </div>
        </div>
    </div>

    <!-- Controles del Carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselEnemigos" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselEnemigos" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>